<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808304126525-48d6c2vcg0mals59tpggb29g31v1or6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808304126525-48d6c2vcg0mals59tpggb29g31v1or6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCTZ733vCQscuV9s699hEHyw9hOgQkwgGU</string>
	<key>GCM_SENDER_ID</key>
	<string>808304126525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.switchApp</string>
	<key>PROJECT_ID</key>
	<string>switch-app-8068b</string>
	<key>STORAGE_BUCKET</key>
	<string>switch-app-8068b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808304126525:ios:2a6b0a8c906fab51fb9854</string>
</dict>
</plist>